<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.example.demo.protal.calendar.dao.CalendarEventMapper">


	<resultMap id="CalendarEvent" type="com.example.demo.protal.calendar.model.CalendarEvent">
	
		<id property="id" column="ID" jdbcType="NUMERIC"/>
		
		<result property="title" column="TITLE" jdbcType="VARCHAR"/>
		
		<result property="allDay" column="ALLDAY" jdbcType="VARCHAR"/>
		<result property="start" column="STARTDATE" jdbcType="TIMESTAMP"/>
		<result property="end" column="ENDDATE" jdbcType="TIMESTAMP"/>
		
		<result property="url" column="URL" jdbcType="VARCHAR"/>
		<result property="className" column="CLASSNAME" jdbcType="VARCHAR"/>
		<result property="editable" column="EDITABLE" jdbcType="VARCHAR"/>
		
		<result property="color" column="COLOR" jdbcType="VARCHAR"/>
		<result property="backgroundColor" column="BACKGROUNDCOLOR" jdbcType="VARCHAR"/>
		<result property="borderColor" column="BORDERCOLOR" jdbcType="VARCHAR"/>
		
		<result property="textColor" column="TEXTCOLOR" jdbcType="VARCHAR"/>
		
	</resultMap>

	<sql id="columns">
		id,title,allDay,startDate,endDate,url,className,editable,color,backgroundColor,borderColor,textColor
	</sql>
	
    
	<insert id="add" parameterType="com.example.demo.protal.calendar.model.CalendarEvent">
		INSERT INTO SYS_CALENDAR_EVENT
		(id,title,allDay,startDate,endDate,url,className,editable,color,backgroundColor,borderColor,textColor)
		VALUES
		(#{id,jdbcType=NUMERIC}, #{title,jdbcType=VARCHAR}, #{allDay,jdbcType=VARCHAR},
		 #{start,jdbcType=TIMESTAMP},#{end,jdbcType=TIMESTAMP},#{url,jdbcType=VARCHAR},
		 #{className,jdbcType=VARCHAR},#{editable,jdbcType=VARCHAR},#{color,jdbcType=VARCHAR},
		 #{backgroundColor,jdbcType=VARCHAR},#{borderColor,jdbcType=VARCHAR},#{textColor,jdbcType=VARCHAR})
	</insert>
	
	<delete id="delById" parameterType="java.lang.Long">
		DELETE FROM SYS_CALENDAR_EVENT  
		WHERE
		id=#{id}
	</delete>
	
	<update id="update" parameterType="com.example.demo.protal.calendar.model.CalendarEvent">
		UPDATE SYS_CALENDAR_EVENT  SET
		
		title = #{title,jdbcType=VARCHAR},
		allDay = #{allDay,jdbcType=VARCHAR},
		startDate = #{start,jdbcType=TIMESTAMP},
		endDate = #{end,jdbcType=TIMESTAMP},
		url = #{url,jdbcType=VARCHAR},
		className = #{className,jdbcType=VARCHAR},
		editable = #{editable,jdbcType=VARCHAR},
		color = #{color,jdbcType=VARCHAR},
		backgroundColor = #{backgroundColor,jdbcType=VARCHAR},
		borderColor = #{borderColor,jdbcType=VARCHAR},
		textColor = #{textColor,jdbcType=VARCHAR}
		
		WHERE
		id=#{id}
	</update>
	
	
	<select id="getById" parameterType="java.lang.Long" resultMap="CalendarEvent">
		SELECT <include refid="columns"/>
		FROM SYS_CALENDAR_EVENT t
		WHERE
		t.id=#{id}
	</select>
	
	
	<select id="getAllCalendarEvent" resultMap="CalendarEvent">
		SELECT  <include refid="columns"/>
		FROM SYS_CALENDAR_EVENT t   
	</select>
	
	
</mapper>
